@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #000;
}

.navbar{
    width: auto;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid transparent;
    margin: 1%;
}
.navbar-botao{
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.navbar-botao-link{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.navbar-botao-link a{
    text-decoration: none;
    color: white;
    font-size: clamp(1.5rem,1.5rem,3.25rem);
    margin: 1rem;
    background-color: #333;
    border-radius: 1rem;
    padding: 0.25rem;
    box-shadow: rgba(225, 62, 62, 0.35) 0px 5px 15px;
}

.navbar-botao-link a:hover{
    transition: 1000ms;
    color:red;
    font-size: clamp(2rem,2rem, 3.75rem);
}
main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo{
    width: 85%;
    height: auto;
    color: aliceblue;
    background-color: #333;
    padding: 1%;
    border-radius: 1rem;
}
.conteudo-principal-atuacaoprofissional h1, .conteudo-principal-projetopesquisa h1, .conteudo-principal-projetoextensao h1{
    font-size: clamp(20px, 2rem, 3rem);
}
.conteudo-principal-atuacaoprofissional dl dt, .conteudo-principal-projetopesquisa dl dt, .conteudo-principal-projetoextensao dl dt{
    margin: 2.5% 0 0 3%;
    font-weight: bold;
    font-size: clamp(15px, 1.5rem, 2rem);
}
.conteudo-principal-atuacaoprofissional dl dd, .conteudo-principal-projetopesquisa dl dd, .conteudo-principal-projetoextensao dl dd{
    margin: 0.5% 0 0 9%;
    /* font-size: calc(1.25rem + 0.1vw); */
    font-size: clamp(13px, 1.25rem, 1.75rem);
    font-style:initial;
}
.bold{
    font-weight: bold;
    background-color:#000;
    border-radius: 1rem;
    margin: 1%;
    width: 100%;
    margin-left: -4%;
}


footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}
.contato{
    width: 85%;
    height: auto;
}
.contato h1{
    color: aliceblue;
    font-size: 2rem;
}
.contato-lattes{
    background-color: #000;
    border-radius: 1rem;
    padding: 2%;
    margin-bottom: 2%;
}
.contato-lattes a{
    color: aliceblue;
    font-size: 1rem;
}
.contato-lattes a:hover{
    font-size: 1.25rem;
    transition: 1000ms;
    color: red;
}