@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #000;
}
.background-foto{
    width: 100%; 
    height: 100vh;
    min-height:100vh;
    background-image: url(./img/background-foto.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.navbar{
    width: auto;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid transparent;
    margin: 1%;
}
.navbar-botao{
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.navbar-botao-link{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.navbar-botao-link a{
    text-decoration: none;
    color: white;
    font-size: clamp(1.5rem,1.5rem,3.25rem);
    margin: 1rem;
    background-color: #333;
    border-radius: 1rem;
    padding: 0.25rem;
    box-shadow: rgba(225, 62, 62, 0.35) 0px 5px 15px;
}

.navbar-botao-link a:hover{
    transition: 1000ms;
    color:red;
    font-size: clamp(2rem,2rem, 3.75rem);
}
.titulo-principal{
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
}
.titulo-principal h1{
    font-size: clamp(2.5rem, 3.5rem, 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid transparent;
}
.titulo-principal h1:hover{
    transition: 1000ms;
    color:red;
    font-size: 4.5rem;
}
.titulo-principal p{
    font-size: clamp(2rem, 2.5rem, 3rem);
}
main{
    width: 100%;
    height: auto;
    background-color: black;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-principal{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: aliceblue;
    padding: 1rem;
    background-color: #333;
    margin: 0.75rem;
    border-radius: 1rem;
    border: 4px solid transparent;
}
.conteudo-principal hr{
    width: 100%;
}
.conteudo-principal:hover{
    transition: 1000ms;
    box-shadow: rgba(225, 62, 62, 0.35) 0px 5px 15px;

}
.conteudo-principal-titulo a, .conteudo-principal-titulo2 a, .conteudo-principal-titulo3 a, .conteudo-principal-titulo4 a{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1em, 2.5rem, 2.75rem);
}

.conteudo-principal-texto, .conteudo-principal-texto2, .conteudo-principal-texto3, .conteudo-principal-texto4{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 1.2rem, 2rem);
    margin: 2%;
}
.conteudo-principal-texto2 ul li li{
    margin-left: 5%;
}

footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}
.contato{
    width: 85%;
    height: auto;
}
.contato h1{
    color: aliceblue;
    font-size: 2rem;
}
.contato-lattes{
    background-color: #000;
    border-radius: 1rem;
    padding: 2%;
    margin-bottom: 2%;
}
.contato-lattes a{
    color: aliceblue;
    font-size: 1rem;
}
.contato-lattes a:hover{
    font-size: 1.25rem;
    transition: 1000ms;
    color: red;
}